
.passed-text{
    display: inline;
    color: green;
}
.box{
    position: relative;
    padding: 5px;
    width: 180px; height:auto;
    cursor:pointer;
}
.tobe-passed{
    display: inline;
    color: black;
}
.wred {
    display: inline;
    color: black;
    background-color: red;
}
.wgreen {
    color: black;
    background-color: green;
    display: inline;
}